# Toets Programmeren

# VERGEET NIET OP TE SLAAN NA HET MAKEN VAN ELKE OPDRACHT!
# VERGEET DE CODE NIET UIT TE VOEREN!

### Vraag 1:
Zorg dat de uitkomst van de uitdrukking `CambreurCambreurCambreur` is.

In [ ]:
x = 
y = 
z = 
print(x * int(y * z))

### Vraag 2:
Zorg dat de uitkomst van de uitdrukking `42FalsePythonPython` is.

In [ ]:


print(str(x - y) + str(z) + a * b)

### Vraag 3:
Zorg dat de uitkomst van de uitdrukking `True` is.

In [ ]:


print(x + (y * z) < 250 and z > 200)

### Vraag 4:
Om een auto te mogen kopen moet je tenminste €15000.- hebben en 18 jaar oud zijn. Zorg dat de uitkomst van het algoritme `Ja, ik mag een auto kopen` is. (Je moet hiervoor 2 `variabelen` gebruiken)

In [ ]:


if():
    print("Ja, ik mag een auto kopen")
else:
    print("Nee, ik mag geen auto kopen")

### Vraag 5:
Jan, Piet & Willem willen samen op reis gaan. Hiervoor moeten ze samen tenminste €1250,- hebben. Maak een programma die checkt of ze genoeg geld hebben om op reis te gaan. Maak hiervoor 3 variabelen aan die elk het spaargeld van Jan, Piet & Willem bijhoudt. Schrijf vervolgens zelf een `If statement` die checkt of dit totaalbedrag genoeg is om op reis te gaan. (Kijk goed naar de andere opdrachten en zorg dat de code op de juiste plek staat! Vergeet de **:** niet!)

### Vraag 6:
Maak een algoritme die verteld wanneer een nummer deelbaar is door 4, 6 of geen van beide. (maak gebruik van `modulo` (%))

In [ ]:
num = 

if():
    print("Nummer is deelbaar door 4")
elif():
    print("Nummer is deelbaar door 6")
else:
    print("Nummer is niet deelbaar door 4 of 6")

### Vraag 7:
Maak een algoritme die kijkt of 2 nummers gelijk aan elkaar zijn **EN** dat tenminste 1 van de nummers positief is.

In [ ]:
num1 = 
num2 = 

if():
    print("De nummers zijn gelijk aan elkaar en een van de twee nummers is positief")
else:
    print("De nummers zijn niet gelijk aan elkaar of beide zijn negatief")

### Vraag 8:
Maak een lijstje met de waardes `1, 2, 3, 5, 7, 13` en print deze uit.

### Vraag 9:
Maak een lijstje met de waardes `10, 20, 30`, voeg vervolgens de waarde `40` toe aan het lijstje en print dan het lijstje uit.

### Vraag 10:
Maak een lijstje `sport` en de waardes `Voetbal, Handbal, Banaan`. Haal vervolgens de waarde `Banaan` uit het lijstje en voeg de waarde `Hockey` toe. Print ten slotte het lijstje uit.

### Vraag 11:
Maak de `for-loop` af zodat alleen even waardes uit het lijstje worden uitgeprint.

In [ ]:
nummers = [-32, 14, -47, 33, -32, -56, 51, 59, -77, 8]

for ? in ?:
    if(?):
        print(?)

### Vraag 12:
Maak een lijstje en gebruik vervolgens een `for-loop` om alle waardes uit het lijstje onder elkaar uit te printen.

### Vraag 13:
Maak een algoritme die alle oneven waardes uitprint in het bereik van 1 tot en met 100. (Maak gebruik van een `for-range` loop)

### Opdracht 14:
Maak een algoritme die alle waardes deelbaar door 7 **of** negatief zijn uitprint in het bereik van -100 tot en met 100.

### Opdracht 15:
Maak een algoritme die alle even waardes tot en met 100 bij elkaar **optelt**.

In [ ]:
totaal = 0



print(totaal)